# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Day05/x64/Debug/vc143.pdb
Day05/x64/Debug/vc143.pdb
*.idb
*.tlog
*.log
*.ilk
*.ipch
*.idb
Day05/x64/Debug/vc143.idb
Day05/x64/Debug/Day05.tlog/link.write.1.tlog
Day05/x64/Debug/Day05.tlog/link.secondary.1.tlog
Day05/x64/Debug/Day05.tlog/link.read.1.tlog
Day05/x64/Debug/Day05.tlog/link.command.1.tlog
Day05/x64/Debug/Day05.tlog/CL.write.1.tlog
Day05/x64/Debug/Day05.tlog/CL.read.1.tlog
Day05/x64/Debug/Day05.tlog/Cl.items.tlog
Day05/x64/Debug/Day05.tlog/CL.command.1.tlog
Day05/x64/Debug/Day05.log
Day05/x64/Debug/Day05.ilk
Day05/x64/Debug/Day05.Build.CppClean.log
.vs/Day05/v17/ipch/AutoPCH/9933ca15b912f7ca/COMPLEXNUM.ipch
.vs/Day05/v17/DocumentLayout.json
.vs/Day05/v17/DocumentLayout.backup.json
.vs/Day05/v17/Browse.VC.opendb
.vs/Day05/v17/Browse.VC.db-wal
.vs/Day05/v17/Browse.VC.db-shm
.vs/Day05/v17/Browse.VC.db
.vs/Day05/v17/.suo
.vs/Day05/FileContentIndex/e5bddaa7-113b-461f-9a4e-cc1052be4af1.vsidx
.vs/Day05/FileContentIndex/8350b28b-766d-4a0b-99cf-c10fda79bec0.vsidx
.vs/Day05/FileContentIndex/78bd87c5-794a-4307-afaf-f5ce3226c588.vsidx
.vs/Day05/FileContentIndex/61a68c8c-29db-4c5f-ad30-936411fb8c3c.vsidx
.vs/Day05/FileContentIndex/420d0f55-6db0-4674-bc6f-2400cff0407e.vsidx
.vs/Day05/FileContentIndex/1c5f0d64-3e8d-45b7-8da9-3e1b93e74c17.vsidx
x64/Debug/Day05.pdb
Day05/x64/Debug/vc143.pdb
