# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Day05/x64/Debug/vc143.pdb
Day05/x64/Debug/vc143.pdb
*.idb
*.tlog
*.log
*.ilk
*.ipch
*.idb

/.vs
/Day05
/x64/Debug
