# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Day05/FileContentIndex/1c5f0d64-3e8d-45b7-8da9-3e1b93e74c17.vsidx
.vs/Day05/FileContentIndex/420d0f55-6db0-4674-bc6f-2400cff0407e.vsidx
.vs/Day05/FileContentIndex/78bd87c5-794a-4307-afaf-f5ce3226c588.vsidx
.vs/Day05/FileContentIndex/e4d79015-d01b-4a91-98a4-1e5abd316cac.vsidx
.vs/Day05/v17/ipch/AutoPCH/352fdeee333a95f9/MAZE.ipch
.vs/Day05/v17/ipch/AutoPCH/8e727e6221a18ca0/TASK2.ipch
